<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SelectColumn.Properties.Settings.msdbConnectionString"
            connectionString="Data Source=DELL;Initial Catalog=msdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SelectColumn.Properties.Settings.NewConnectionString"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=New;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>